$header-bg: yellow;
$light-grey: #444;

html, body {
  min-height: 100%;
}

@mixin like-a-button($unit, $bgcolor, $color, $bradius) {
  padding: ($unit * 0.75) ($unit * 1);
  background: $bgcolor;
  color: $color;
  margin: ($unit * 0.5);
  text-decoration: none;
  border-radius: $bradius;
}

// Mixins
@mixin links {
  text-decoration: none;
  color: $light-grey;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

@mixin page {
  min-height: calc(100vh - (2 * 16px) - 2rem - 6vh);
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}
// End of Mixins


// elements
.button {
  @include like-a-button(1rem, $light-grey, white, 4px);
}

.call-to-action {
  @include center;
  justify-content: space-around;
}

.top-header {
  height: 3vh;
  background: $header-bg;
  display: flex;
  flex-direction: row;
  padding: 1rem;
  justify-content: space-between;

  a { @include links; }

  &-left {
    flex: 1;
    @include center;
    justify-content: flex-start;
  }

  &-center {
    flex: 1;
    @include center;
  }

  &-right {
    flex: 1;
  }
}

main#landing-page {
  @include page;
  @include center;
  flex-direction: column;
  width: 75%;
  margin: 0 auto;
}

#landing-page-desc {
  max-width: 40vw;
  min-width: 300px;
  margin: 2rem;
  color: $light-grey;
}

.bottom-footer {
  height: 3vh;
  padding: 1rem;
  background: $light-grey;
  color: #aaa;
  @include center;
}

.title {
  text-align: center;
  padding: 1rem 0;
  small {
    font-style: italic;
  }
}

.page {
  @include page;
}

