.header {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  max-height: 50px;
  color: #d5d5d5;
}

.header * {
  flex: 2;
}

.header-center {
  flex: 1;
  display: flex;
}

.header-center > a {
  margin:0 0.2rem;
  color: #888;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.9rem;
}

.header-right {
  display: flex;
  justify-content: flex-end;
}

.header-right > a {
  flex: 1;
  text-align: right;
}

.logged-in {
text-align: right;
padding: 0 1rem;
display: flex;
align-items: flex-start;
justify-content: flex-end;
}

.logged-in > * {
  flex: 0 0 40px;
}

.profile-pic {
  width: 20px;
  height: 20px;
  color: #d5d5d5;
}

.logout {
  text-align: right;
  margin-left: 40px;
  cursor: pointer;
  background: transparent;
  border: none;
  font-size: 1rem;
  color: crimson;
  transition: all 0.2s ease-in;
}

.logout:focus {
  outline: none;
  color: #fff;
}

