.page {
  width: 100%;
  min-height: calc((100vh - 2 * 16px - 6vh - 2rem) * 1.1);
  animation: fadeIn 0.3s ease-in;
}

@keyframes fadeIn {
  0% { opacity: 0; transform: scale(1.1); }
  100% { opacity: 100%; transform: scale(1); }
}

